@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Oops!</h1>
</div>
<div class="well">
  <p>There is already an entry for this contact. Please enter a new unique contact or update the existing contact information for this user.</p>
</div>
<p><a href="/" class="action">Return Home</a></p>
