@{
  Layout = "_Layout";
}

<h1>Please enter your details here</h1>
<form method="post" action="/new">
  <div class-"form-group">
    <label for="name">What is your name?</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>
  <div class-"form-group">
    <label for="phone-number">What is your phone number?</label>
    <input type="text" id="phone-number" name="phone-number" class="form-control">
  </div>
  <h2>Address</h2>
  <div class-"form-group">
    <label for="street">Street?</label>
    <input type="text" id="street" name="street" class="form-control">
  </div>
  <div class-"form-group">
    <label for="city-state">City/State?</label>
    <input type="text" id="city-state" name="city-state" class="form-control">
  </div>
  <div class-"form-group">
    <label for="zip">Zip Code?</label>
    <input type="text" id="zip" name="zip" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Add Contact</button>
</form>
