@{
  Layout = "_Layout";
}

<h1>Current Contacts!</h1>
@foreach (var contact in Model)
{
  <ul class="list-unstyled">
    <li class="display-name">@contact.GetName()</li>
    <li>@contact.GetPhone()</li>
    <li>@contact.GetAddress()</li>
  </ul>
}

<a href="/contacts/new">Add New Contact?</a>
<form method="post" action="/delete">
  <button type="submit" class="btn btn-default">Delete all?</button>
</form>
