@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Address Book</h1>
  <p>Current Contacts</p>
</div>

@if (Model.Count == 0)
{
  <div class="well">
    <h2>You currently have no contacts! Please enter one below.</h2>
  </div>
}
@foreach (var contact in Model)
{
  <div class="well">
    <ul class="list-unstyled">
      <li><a href="/@contact.GetId()"><span class="display-name">@contact.GetName()</span></a>
      <form method="post" action="/contacts/delete/@contact.GetId()">
        <button type="submit" class="btn btn-warning btn-xs delete-button">Delete?</button>
      </form>
      <span class="display-update"><a href="/contacts/update/@contact.GetId()">Update?</a></span>

    </ul>
  </div>
}

<a href="/contacts/new" class="action">Add New Contact</a>
<form method="post" action="/delete">
  <button type="submit" class="btn btn-danger delete-all-button">Delete all?</button>
</form>
