@{
  Layout = "_Layout";
}

<h1>Current Contacts!</h1>
@foreach (var contact in Model)
{
  <ul class="list-unstyled">
    <li class="display-name"><a href="/@contact.GetId()">@contact.GetName()</a>
    <form method="post" action="/contacts/delete/@contact.GetId()">
      <button type="submit" class="btn btn-warning btn-xs">Delete?</button>
    </form></li>
  </ul>
}

<a href="/contacts/new">Add New Contact?</a>
<form method="post" action="/delete">
  <button type="submit" class="btn btn-danger">Delete all?</button>
</form>
