@{
  Layout = "_Layout";
}

<h1>Current Contacts!</h1>
@foreach (var contact in Model)
{
  <ul>
    <li>contact.GetName()</li>
    <li>contact.GetPhone()</li>
    <li>contact.GetAddress()</li>
  </ul>
}
